.ProducerIC {
    flex: 40%;
    width: 40%;
    padding: 4rem;
    margin: 0.8rem;
    border: 1px solid #bdbdbd;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    & > img {
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: contain;
        border-radius: 5rem;
        transform: scale(0.8);
        transition: all 0.5s ease-in-out 0s;
    }
    &:hover {
        box-shadow: 0 0 1rem #bdbdbd;
        border: 2px solid #bdbdbd;
    }
    &:hover > img {
        transform: scale(1);
    }
}

@media screen and(max-width:1024px) and(min-width:720px) {
    .ProducerIC {
        padding: 3rem;
        margin: 0.6rem;
    }
}

@media screen and(max-width:719px) and(min-width:550px) {
    .ProducerIC {
        padding: 2rem;
        margin: 0.2rem;
    }
}
@media screen and(max-width:549px) and(min-width:350px) {
    .ProducerIC {
        padding: 1.5rem;
        margin: 0.2rem;
    }
}
@media screen and(max-width:349px) {
    .ProducerIC {
        padding: 1rem;
        margin: 0.2rem;
    }
}
