$primary: #4cf0c4;
.PartLoading-container {
    width: 100%;
    min-height: 20rem;
    position: relative;
    background-color: none;
    z-index: 9999;
    .Loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        & > svg {
            & > polyline {
                fill: none;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                &#back {
                    stroke: rgba($primary, 0.3);
                }

                &#front {
                    stroke: $primary;
                    stroke-dasharray: 12, 36; //Dash 12 & Gap 36
                    stroke-dashoffset: 48;
                    animation: dash 1s linear infinite;
                }
            }
        }
    }
}

@keyframes dash {
    65% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}
